docs/english/informasjonsmodell/xsd/no.skatteetaten.fastsetting.avgift.mva.skattemeldingformerverdiavgift.v0.8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="no:skatteetaten:fastsetting:avgift:mva:skattemeldingformerverdiavgift:v0.8" xmlns:skatt="http://www.skatteetaten.no/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="no:skatteetaten:fastsetting:avgift:mva:skattemeldingformerverdiavgift:v0.8">
    <xsd:annotation>
        <xsd:documentation>
            <xsd:attribute fixed="2020-09-22T10:26:16.424+0200" name="generertDato"/>
            <xsd:attribute fixed="0.8" name="versjon"/>
            <xsd:attribute fixed="" name="beskrivelse"/>
            <xsd:attribute fixed="SkattemeldingForMerverdiavgift" name="modellnavn"/>
            <xsd:attribute fixed="no:skatteetaten:fastsetting:avgift:mva:skattemeldingformerverdiavgift:v0.8" name="navnerom"/>
            <xsd:attribute fixed="true" name="begrepsreferanse"/>
            <xsd:attribute fixed="true" name="dokumentasjon"/>
            <xsd:attribute fixed="false" name="nillable"/>
            <xsd:attribute fixed="false" name="modellelement"/>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:element name="mvaMeldingDto" type="MvaMeldingDto"/>
    <xsd:complexType name="MvaMeldingDto" skatt:begrepsreferanse="http://begrepskatalog/begrep/6b41c6c8-50cd-11e7-b7c5-005056821322">
        <xsd:annotation>
            <xsd:documentation>melding som leveres som ledd i egenfastsetting av merverdiavgift, jf. skatteforvaltningsloven § 8-3</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="innsending" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2dd-9fe1-11e5-a9f8-e4115b280940" type="Innsending">
                <xsd:annotation>
                    <xsd:documentation>består av en eller flere leveranser, som er levert samlet av en innsender</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="skattegrunnlagOgBeregnetSkatt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6b41c6c4-50cd-11e7-b7c5-005056821322; https://data.skatteetaten.no/begrep/649cbcd4-ad07-11e8-8ffd-005056821322" type="SkattegrunnlagOgBeregnetSkatt"/>
            <xsd:element name="betalingsinformasjon" type="Betalingsinformasjon">
                <xsd:annotation>
                    <xsd:documentation>Skattepliktiges informasjon til Skatteetaten om hvordan tilgodebeløp skal utbetales</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="skattepliktig" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6b41c6ce-50cd-11e7-b7c5-005056821322" type="Skattepliktig">
                <xsd:annotation>
                    <xsd:documentation>fysisk eller juridisk person som skal svare eller få kompensert skatt</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="meldingskategori" type="Meldingskategori">
                <xsd:annotation>
                    <xsd:documentation>Inndeling som viser hva skattemeldingen gjelder</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Betalingsinformasjon">
        <xsd:annotation>
            <xsd:documentation>Skattepliktiges informasjon til Skatteetaten om hvordan tilgodebeløp skal utbetales</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="kontonummerForTilbakebetaling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e328-9fe1-11e5-a9f8-e4115b280940" type="KontoForTilbakebetaling">
                <xsd:annotation>
                    <xsd:documentation>det kontonummeret skattepliktig vil ha betaling til</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="kundeIdentifikasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/dbd77a9c-4fa9-11e9-80b4-0050568204d6" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>nummer som brukes ved regningsbetaling i Norge for å identifisere kunden og fakturaen; alternativt begrep KID-nummer; forkortet KID</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Innsender" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/dcfb4747-e484-11e6-9cb3-005056821322">
        <xsd:annotation>
            <xsd:documentation>den som foretar en innsendingen. Innsender kan være den opplysningspliktige selv, eller den som foretar innsending på vegne av den opplysningspliktige.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="norskIdentifikator" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/dcfb4778-e484-11e6-9cb3-005056821322" type="Identifikator">
                <xsd:annotation>
                    <xsd:documentation>offentlig norsk identifikator; fødselsnummer eller D-nummer</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Innsending" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2dd-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>består av en eller flere leveranser, som er levert samlet av en innsender</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="regnskapssystemsreferanse" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/dcfb4748-e484-11e6-9cb3-005056821322" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>unikt referanse i regnskapssystem for en innsending. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="regnskapssystem" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/dcfb4758-e484-11e6-9cb3-005056821322" type="Kildesystem">
                <xsd:annotation>
                    <xsd:documentation>navn på regnskapssystem som er kilde eller opphav</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="innsender" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/dcfb4747-e484-11e6-9cb3-005056821322" type="Innsender"/>
            <xsd:element minOccurs="0" name="innsendingTidspunkt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ae52164a-7de8-11e8-b733-005056821322" type="DatoKlokkeslett">
                <xsd:annotation>
                    <xsd:documentation>det tidspunkt innsendingen ble foretatt</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MvaSpesifikasjonslinje">
        <xsd:annotation>
            <xsd:documentation>dokumentasjon av anvendelsen av mva-reglene</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="mvaKode" type="MvaKode">
                <xsd:annotation>
                    <xsd:documentation>mva-kode gitt av Skatteetaten som samsvarer med det som er benyttet i regnskapet; forenklet SAF_T kode beskrivet her: https://www.skatteetaten.no/globalassets/bedrift-og-organisasjon/starte-og-drive/rutiner-regnskap-og-kassasystem/saf-t-regnskap/norwegian-saf-t-standard-vat-codes.pdf</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="spesifikasjon" type="MvaSpesifikasjon">
                <xsd:annotation>
                    <xsd:documentation>videre spesifikasjon av merverdiavgift (hvis det gjelder justering, tap på krav eller tilbakeføring av merverdiavgift) </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="mvaKodeRegnskapsystem" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>interne mva-koder for regnskapssystem (ikke SAF-T)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="omsetning" skatt:begrepsreferanse="https://begrepskatalog/begrep/38e2a35a-4758-11e6-b166-8e8050d1fd96" type="Beloep">
                <xsd:annotation>
                    <xsd:documentation>levering av varer og tjenester mot vederlag</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="sats" type="Sats">
                <xsd:annotation>
                    <xsd:documentation>Prosentsatsen som er benyttet for merverdiavgiftsberegning</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="merverdiavgift" skatt:begrepsreferanse="https://begrepskatalog/begrep/38e2a356-4758-11e6-b166-8e8050d1fd96" type="Beloep">
                <xsd:annotation>
                    <xsd:documentation>Bokført beløp for merverdiavgift</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SkattegrunnlagOgBeregnetSkatt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6b41c6c4-50cd-11e7-b7c5-005056821322; https://data.skatteetaten.no/begrep/649cbcd4-ad07-11e8-8ffd-005056821322">
        <xsd:annotation>
            <xsd:documentation>Skattegrunnlag: Opplysninger om den skattepliktige, den skattepliktiges økonomi (inntekt/fradrag/formue/gjeld), innførsel, omsetning og uttak og den skattepliktiges produksjon og varehåndtering, klassifisert, verdisatt og korrekt periodisert. Den skattepliktige skal kunne observere skattegrunnlaget i sine omgivelser.
Beregnet skatt: det beløpet som fremkommer etter at skattesatser er anvendt på beregningsgrunnlaget</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="skattleggingsperiode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6b41c6d1-50cd-11e7-b7c5-005056821322" type="Skattleggingsperiode">
                <xsd:annotation>
                    <xsd:documentation>perioden som en gitt skattefastsetting gjelder for;  alternativt begrep: termin.
</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fastsattMerverdiavgift" skatt:begrepsreferanse="http://begrepskatalog/begrep/2a88aa6c-d8d6-11e7-ae2b-005056821322" type="Beloep">
                <xsd:annotation>
                    <xsd:documentation>sum fastsatt merverdiavgift for perioden</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mvaSpesifikasjonslinje" type="MvaSpesifikasjonslinje">
                <xsd:annotation>
                    <xsd:documentation>dokumentasjon av anvendelsen av mva-reglene</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Skattepliktig" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6b41c6ce-50cd-11e7-b7c5-005056821322">
        <xsd:annotation>
            <xsd:documentation>fysisk eller juridisk person som skal svare eller få kompensert skatt</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a8-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnummer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Meldingskategori">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="alminnelig"/>
            <xsd:enumeration value="primaernaering"/>
            <xsd:enumeration value="merverdiavgift kompensasjon"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="KontoForTilbakebetaling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e328-9fe1-11e5-a9f8-e4115b280940">
        <xsd:sequence>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element name="norskKontonummer" type="Kontonummer"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="swiftBIC" type="Tekst"/>
                    <xsd:element minOccurs="0" name="valuta" type="Valutakode"/>
                    <xsd:element name="IBAN" type="Tekst"/>
                </xsd:sequence>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Tekst" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af3-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>vilkårlig lang sekvens av tegn inkludert aksenter og spesielle tegn fra standardiserte tegnsett 
</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Identifikator" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2f8-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="Tekst"/>
    </xsd:simpleType>
    <xsd:complexType name="Kildesystem">
        <xsd:sequence>
            <xsd:element name="systemnavn" type="Tekst"/>
            <xsd:element minOccurs="0" name="systemversjon" type="Tekst"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="DatoKlokkeslett" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aee-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>en kombinasjon av typene Dato og Klokkeslett. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times). </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>
    <xsd:simpleType name="MvaKode" skatt:eksternKodeliste="http://kodelistekatalog/kodeliste/merverdiavgift/mvaKodeSAFT">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0">
                <xsd:annotation>
                    <xsd:documentation>Ingen merverdiavgiftsbehandling (anskaffelser)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="1">
                <xsd:annotation>
                    <xsd:documentation>Fradragsberettiget innenlands inngående merverdiavgift, alminnelig sats</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="11">
                <xsd:annotation>
                    <xsd:documentation>Fradragsberettiget innenlands inngående merverdiavgift, redusert sats, middels</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="12">
                <xsd:annotation>
                    <xsd:documentation>Fradragsberettiget innenlands inngående merverdiavgift, redusert sats, fisk</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="13">
                <xsd:annotation>
                    <xsd:documentation>Fradragsberettiget innenlands inngående merverdiavgift, redusert sats, lav</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="14">
                <xsd:annotation>
                    <xsd:documentation>Fradragsberettiget innførselsmerverdiavgift, alminnelig sats</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="15">
                <xsd:annotation>
                    <xsd:documentation>Fradragsberettiget innførselsmerverdiavgift, redusert sats, middels</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="20">
                <xsd:annotation>
                    <xsd:documentation>Kostnad ved innførsel av varer, ingen merverdiavgiftsbehandling</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="21">
                <xsd:annotation>
                    <xsd:documentation>Kostnad ved innførsel av varer, alminnelig sats</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="22">
                <xsd:annotation>
                    <xsd:documentation>Kostnad ved innførsel av varer, redusert sats, middels</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="3">
                <xsd:annotation>
                    <xsd:documentation>Utgående merverdiavgift, alminnelig sats</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="31">
                <xsd:annotation>
                    <xsd:documentation>Utgående merverdiavgift, redusert sats, middels</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="32">
                <xsd:annotation>
                    <xsd:documentation>Utgående merverdiavgift, redusert sats, fisk</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="33">
                <xsd:annotation>
                    <xsd:documentation>Utgående merverdiavgift, redusert sats, lav</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="5">
                <xsd:annotation>
                    <xsd:documentation>Innenlands omsetning og uttak fritatt for merverdiavgift, fritak</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="51">
                <xsd:annotation>
                    <xsd:documentation>Innenlandsk omsetning med omvendt avgiftplikt, fritak</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="52">
                <xsd:annotation>
                    <xsd:documentation>Utførsel av varer og tjenester, utenfor avgiftsområdet</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="6">
                <xsd:annotation>
                    <xsd:documentation>Omsetning utenfor merverdiavgiftsloven</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="7">
                <xsd:annotation>
                    <xsd:documentation>Ingen merverdiavgiftsbehandling (inntekter)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="81">
                <xsd:annotation>
                    <xsd:documentation>Grunnlag innførsel av varer med fradragsrett for innførselsmerverdiavgift, alminnelig sats</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="82">
                <xsd:annotation>
                    <xsd:documentation>Grunnlag innførsel av varer uten fradragsrett for innførselsmerverdiavgift, alminnelig sats</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="83">
                <xsd:annotation>
                    <xsd:documentation>Grunnlag innførsel av varer med fradragsrett for innførselsmerverdiavgift, redusert sats, middels</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="84">
                <xsd:annotation>
                    <xsd:documentation>Grunnlag innførsel av varer uten fradragsrett for innførselsmerverdiavgift, redusert sats, middels</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="85">
                <xsd:annotation>
                    <xsd:documentation>Grunnlag innførsel av varer som det ikke skal beregnes merverdiavgift av, ingen</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="86">
                <xsd:annotation>
                    <xsd:documentation>Tjenester kjøpt fra utlandet med fradragsrett for merverdiavgift, alminnelig sats</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="87">
                <xsd:annotation>
                    <xsd:documentation>Tjenester kjøpt fra utlandet uten fradragsrett for merverdiavgift, alminnelig sats</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="88">
                <xsd:annotation>
                    <xsd:documentation>Tjenester kjøpt fra utlandet med fradragsrett for merverdiavgift, redusert sats, lav</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="89">
                <xsd:annotation>
                    <xsd:documentation>Tjenester kjøpt fra utlandet uten fradragsrett for merverdiavgift, redusert sats, lav</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="91">
                <xsd:annotation>
                    <xsd:documentation>Kjøp av klimakvoter eller gull med fradragsrett for merverdiavgift, alminnelig sats</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="92">
                <xsd:annotation>
                    <xsd:documentation>Kjøp av klimakvoter eller gull uten fradragsrett for merverdiavgift, alminnelig sats</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MvaSpesifikasjon">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="justering"/>
            <xsd:enumeration value="tap paa krav"/>
            <xsd:enumeration value="tilbakefoeringAvInngaaendeMerverdiavgift"/>
            <xsd:enumeration value="uttak"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Desimaltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aef-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>tall som er satt sammen av en heltallsdel og en fraksjondel [wikipedia] </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal"/>
    </xsd:simpleType>
    <xsd:simpleType name="Beloep" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>en sum av penger brukt i en kontekst. Dette kan være en transaksjon, saldo o.l. </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Desimaltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="Sats" skatt:eksternKodeliste="http://kodelistekatalog/kodeliste/merverdiavgift/sats">
        <xsd:annotation>
            <xsd:documentation>Prosentsatsen som er brukt for merverdiavgiftsberegning</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0">
                <xsd:annotation>
                    <xsd:documentation>Null sats</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="6">
                <xsd:annotation>
                    <xsd:documentation>redusert sats - Persontransport, overnatting, allmennkringkasting samt adgang til kino, idrettsarrangementer, fornøyelsesparker og opplevelsessentre; denne sats er redusert sats som del av korona-pakke (fra 12 til 6) og er valid mellom 01.04.2020 og 31.10.2020.
</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="11,11">
                <xsd:annotation>
                    <xsd:documentation>sats for førstehåndsomsetning av fisk</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="12">
                <xsd:annotation>
                    <xsd:documentation>redusert sats - Persontransport, overnatting, allmennkringkasting samt adgang til kino, idrettsarrangementer, fornøyelsesparker og opplevelsessentre</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="15">
                <xsd:annotation>
                    <xsd:documentation>redusert sats, næringsmiddel</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="25">
                <xsd:annotation>
                    <xsd:documentation>alminnelig sats</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Skattleggingsperiode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6b41c6d1-50cd-11e7-b7c5-005056821322&#10;http://begrepskatalog/begrep/bcb34830-81b1-11e7-9c4a-0050568351d2">
        <xsd:annotation>
            <xsd:documentation>skattleggingsperiode er et fellesbegrep som brukes om alle former for skatt, og refererer generelt til den perioden som en gitt skattefastsetting gjelder for; i merverdiavgift kontekst er ofte brukt begrepet termin</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="periode" type="PeriodeBeskrivelse">
                <xsd:annotation>
                    <xsd:documentation>termin</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aar" type="Aarstall"/>
            <xsd:element minOccurs="0" name="skattleggingsperiodetype" type="SkattleggingsperiodeType">
                <xsd:annotation>
                    <xsd:documentation>frekvens for levering av mva-melding; kan være årlig, 2-måned m.m.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a8-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>9 sifret nummer gitt de som er registrert i Enhetsregisteret. </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst">
            <xsd:pattern value="[0-9]+"/>
            <xsd:length value="9"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Kontonummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e328-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="Tekst"/>
    </xsd:simpleType>
    <xsd:simpleType name="Valutakode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a2-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>koder for offisielle valutaer etter ISO 4217</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst"/>
    </xsd:simpleType>
    <xsd:complexType name="PeriodeBeskrivelse">
        <xsd:sequence>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element name="skattleggingsperiodeMaaned" type="SkattleggingsperiodeMaaned"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="skattleggingsperiodeSeksMaaneder" type="SkattleggingsperiodeSeksMaaneder"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="skattleggingsperiodeToMaaneder" type="SkattleggingsperiodeToMaaneder"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="skattleggingsperiodeHalvMaaned" type="SkattleggingsperiodeHalvMaaned"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="skattleggingsperiodeTreMaaneder" type="SkattleggingsperiodeTreMaaneder"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="skattleggingsperiodeUke" type="SkattleggingsperiodeUke"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="skattleggingsperiodeAar" type="SkattleggingsperiodeAar"/>
                </xsd:sequence>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Aarstall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e14a-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>årstall er et tall som angir årets nummer i tidsregningen i den gregorianske kalender</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:gYear"/>
    </xsd:simpleType>
    <xsd:simpleType name="SkattleggingsperiodeType">
        <xsd:annotation>
            <xsd:documentation>frekvens for levering av mva-melding; kan være årlig, 2-måned m.m.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="aar"/>
            <xsd:enumeration value="seks maaned"/>
            <xsd:enumeration value="tre maaned"/>
            <xsd:enumeration value="to maaned"/>
            <xsd:enumeration value="maaned"/>
            <xsd:enumeration value="halv maaned"/>
            <xsd:enumeration value="uke"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SkattleggingsperiodeMaaned">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="januar"/>
            <xsd:enumeration value="februar"/>
            <xsd:enumeration value="mars"/>
            <xsd:enumeration value="april"/>
            <xsd:enumeration value="mai"/>
            <xsd:enumeration value="juni"/>
            <xsd:enumeration value="juli"/>
            <xsd:enumeration value="august"/>
            <xsd:enumeration value="september"/>
            <xsd:enumeration value="oktober"/>
            <xsd:enumeration value="november"/>
            <xsd:enumeration value="desember"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SkattleggingsperiodeSeksMaaneder">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="januar-juni"/>
            <xsd:enumeration value="juni-desember"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SkattleggingsperiodeToMaaneder">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="januar-februar"/>
            <xsd:enumeration value="mars-april"/>
            <xsd:enumeration value="mai-juni"/>
            <xsd:enumeration value="juli-august"/>
            <xsd:enumeration value="september-oktober"/>
            <xsd:enumeration value="november-desember"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SkattleggingsperiodeHalvMaaned">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="foerste halvdel januar"/>
            <xsd:enumeration value="andre halvdel januar"/>
            <xsd:enumeration value="foerste halvdel februar"/>
            <xsd:enumeration value="andre halvdel februar"/>
            <xsd:enumeration value="foerste halvdel mars"/>
            <xsd:enumeration value="andre halvdel mars"/>
            <xsd:enumeration value="foerste halvdel april"/>
            <xsd:enumeration value="andre halvdel april"/>
            <xsd:enumeration value="foerste halvdel mai"/>
            <xsd:enumeration value="andre halvdel mai"/>
            <xsd:enumeration value="foerste halvdel juni"/>
            <xsd:enumeration value="andre halvdel juni"/>
            <xsd:enumeration value="foerste halvdel juli"/>
            <xsd:enumeration value="andre halvdel juli"/>
            <xsd:enumeration value="foerste halvdel august"/>
            <xsd:enumeration value="andre halvdel august"/>
            <xsd:enumeration value="foerste halvdel september"/>
            <xsd:enumeration value="andre halvdel september"/>
            <xsd:enumeration value="foerste halvdel oktober"/>
            <xsd:enumeration value="andre halvdel oktober"/>
            <xsd:enumeration value="foerste halvdel november"/>
            <xsd:enumeration value="andre halvdel november"/>
            <xsd:enumeration value="foerste halvdel desember"/>
            <xsd:enumeration value="andre halvdel desember"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SkattleggingsperiodeTreMaaneder">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="januar-mars"/>
            <xsd:enumeration value="april-juni"/>
            <xsd:enumeration value="juli-september"/>
            <xsd:enumeration value="oktober-desember"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SkattleggingsperiodeUke">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="uke 1"/>
            <xsd:enumeration value="uke 2"/>
            <xsd:enumeration value="uke 3"/>
            <xsd:enumeration value="uke 4"/>
            <xsd:enumeration value="uke 5"/>
            <xsd:enumeration value="uke 6"/>
            <xsd:enumeration value="uke 7"/>
            <xsd:enumeration value="uke 8"/>
            <xsd:enumeration value="uke 9"/>
            <xsd:enumeration value="uke 10"/>
            <xsd:enumeration value="uke 11"/>
            <xsd:enumeration value="uke 12"/>
            <xsd:enumeration value="uke 13"/>
            <xsd:enumeration value="uke 14"/>
            <xsd:enumeration value="uke 15"/>
            <xsd:enumeration value="uke 16"/>
            <xsd:enumeration value="uke 17"/>
            <xsd:enumeration value="uke 18"/>
            <xsd:enumeration value="uke 19"/>
            <xsd:enumeration value="uke 20"/>
            <xsd:enumeration value="uke 21"/>
            <xsd:enumeration value="uke 22"/>
            <xsd:enumeration value="uke 23"/>
            <xsd:enumeration value="uke 24"/>
            <xsd:enumeration value="uke 25"/>
            <xsd:enumeration value="uke 26"/>
            <xsd:enumeration value="uke 27"/>
            <xsd:enumeration value="uke 28"/>
            <xsd:enumeration value="uke 29"/>
            <xsd:enumeration value="uke 30"/>
            <xsd:enumeration value="uke 31"/>
            <xsd:enumeration value="uke 32"/>
            <xsd:enumeration value="uke 33"/>
            <xsd:enumeration value="uke 34"/>
            <xsd:enumeration value="uke 35"/>
            <xsd:enumeration value="uke 36"/>
            <xsd:enumeration value="uke 37"/>
            <xsd:enumeration value="uke 38"/>
            <xsd:enumeration value="uke 39"/>
            <xsd:enumeration value="uke 40"/>
            <xsd:enumeration value="uke 41"/>
            <xsd:enumeration value="uke 42"/>
            <xsd:enumeration value="uke 43"/>
            <xsd:enumeration value="uke 44"/>
            <xsd:enumeration value="uke 45"/>
            <xsd:enumeration value="uke 46"/>
            <xsd:enumeration value="uke 47"/>
            <xsd:enumeration value="uke 48"/>
            <xsd:enumeration value="uke 49"/>
            <xsd:enumeration value="uke 50"/>
            <xsd:enumeration value="uke 51"/>
            <xsd:enumeration value="uke 52"/>
            <xsd:enumeration value="uke 53"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SkattleggingsperiodeAar">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="aarlig"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
