docs/informasjonsmodell_filer/xsd/no.skatteetaten.fastsetting.avgift.mva.skattemeldingformerverdiavgift.v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="no:skatteetaten:fastsetting:avgift:mva:skattemeldingformerverdiavgift:v1.0" xmlns:skatt="http://www.skatteetaten.no/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="no:skatteetaten:fastsetting:avgift:mva:skattemeldingformerverdiavgift:v1.0">
    <xsd:annotation>
        <xsd:documentation>
            <xsd:attribute fixed="2021-05-06T13:29:42.709+0200" name="generertDato"/>
            <xsd:attribute fixed="1.0" name="versjon"/>
            <xsd:attribute fixed="" name="beskrivelse"/>
            <xsd:attribute fixed="SkattemeldingForMerverdiavgift" name="modellnavn"/>
            <xsd:attribute fixed="no:skatteetaten:fastsetting:avgift:mva:skattemeldingformerverdiavgift:v1.0" name="navnerom"/>
            <xsd:attribute fixed="true" name="begrepsreferanse"/>
            <xsd:attribute fixed="true" name="dokumentasjon"/>
            <xsd:attribute fixed="false" name="nillable"/>
            <xsd:attribute fixed="false" name="modellelement"/>
            <xsd:attribute fixed="false" name="norskeTegn"/>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:element name="mvaMeldingDto" type="MvaMeldingDto"/>
    <xsd:complexType name="MvaMeldingDto" skatt:begrepsreferanse="http://begrepskatalog/begrep/6b41c6c8-50cd-11e7-b7c5-005056821322">
        <xsd:annotation>
            <xsd:documentation>melding som leveres som ledd i egenfastsetting av merverdiavgift, jf. skatteforvaltningsloven § 8-3</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="innsending" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2dd-9fe1-11e5-a9f8-e4115b280940" type="Innsending">
                <xsd:annotation>
                    <xsd:documentation>består av en eller flere leveranser, som er levert samlet av en innsender</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="skattegrunnlagOgBeregnetSkatt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6b41c6c4-50cd-11e7-b7c5-005056821322; https://data.skatteetaten.no/begrep/649cbcd4-ad07-11e8-8ffd-005056821322" type="SkattegrunnlagOgBeregnetSkatt">
                <xsd:annotation>
                    <xsd:documentation>Skattegrunnlag: Opplysninger om den skattepliktige, den skattepliktiges økonomi (inntekt/fradrag/formue/gjeld), innførsel, omsetning og uttak og den skattepliktiges produksjon og varehåndtering, klassifisert, verdisatt og korrekt periodisert. Den skattepliktige skal kunne observere skattegrunnlaget i sine omgivelser.
Beregnet skatt: det beløpet som fremkommer etter at skattesatser er anvendt på beregningsgrunnlaget</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="betalingsinformasjon" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/89d8a1a0-145a-11eb-8086-0050568351d2" type="Betalingsinformasjon">
                <xsd:annotation>
                    <xsd:documentation>Skattepliktiges informasjon til Skatteetaten om hvordan tilgodebeløp skal utbetales</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="skattepliktig" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6b41c6ce-50cd-11e7-b7c5-005056821322" type="Skattepliktig">
                <xsd:annotation>
                    <xsd:documentation>fysisk eller juridisk person som skal svare eller få kompensert skatt</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="meldingskategori" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/90fffdc0-145a-11eb-8086-0050568351d2" type="Meldingskategori">
                <xsd:annotation>
                    <xsd:documentation>Inndeling som viser hva skattemeldingen gjelder</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="merknad" skatt:begrepsreferanse="http://begrepskatalog/begrep/df81b86e-3474-11e6-af6b-9614a8212dd3" type="Merknad">
                <xsd:annotation>
                    <xsd:documentation>no: merknad på meldingsnivå: har en kan velge mellom en predefinert liste av merknader eller fylle ut fritekst
en: comment on declaration level: here you can choose between a predefined list of comments or add your own (free text). </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Betalingsinformasjon" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/89d8a1a0-145a-11eb-8086-0050568351d2">
        <xsd:annotation>
            <xsd:documentation>Skattepliktiges informasjon til Skatteetaten om hvordan tilgodebeløp skal utbetales</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="kundeIdentifikasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/dbd77a9c-4fa9-11e9-80b4-0050568204d6" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>nummer som brukes ved regningsbetaling i Norge for å identifisere kunden og fakturaen; alternativt begrep KID-nummer; forkortet KID</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Innsending" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2dd-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>består av en eller flere leveranser, som er levert samlet av en innsender</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="regnskapssystemsreferanse" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/dcfb4748-e484-11e6-9cb3-005056821322" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>unikt referanse i regnskapssystem for en innsending. Hvis skattepliktig har ikke regnskapssystem, da fyller vi inn fra portalen (portalen spiller rolle som  *regnskapssystem*)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="regnskapssystem" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/dcfb4758-e484-11e6-9cb3-005056821322" type="Kildesystem">
                <xsd:annotation>
                    <xsd:documentation>navn på regnskapssystem som er kilde eller opphav</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MvaSpesifikasjonslinje" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/b29bf6f0-145a-11eb-8086-0050568351d2">
        <xsd:annotation>
            <xsd:documentation>dokumentasjon av anvendelsen av mva-reglene</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="mvaKode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep//9b38dfa0-145a-11eb-8086-0050568351d2" type="MvaKode">
                <xsd:annotation>
                    <xsd:documentation>mva-kode gitt av Skatteetaten som samsvarer med det som er benyttet i regnskapet; forenklet SAF_T kode beskrivet her: https://www.skatteetaten.no/globalassets/bedrift-og-organisasjon/starte-og-drive/rutiner-regnskap-og-kassasystem/saf-t-regnskap/norwegian-saf-t-standard-vat-codes.pdf</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="spesifikasjon" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/be53d7b0-145a-11eb-8086-0050568351d2" type="MvaSpesifikasjon">
                <xsd:annotation>
                    <xsd:documentation>videre spesifikasjon av merverdiavgift (hvis det gjelder justering, tap på krav eller tilbakeføring av merverdiavgift) </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="mvaKodeRegnskapsystem" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/aa334130-145a-11eb-8086-0050568351d2" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>interne mva-koder for regnskapssystem (ikke SAF-T)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="grunnlag" skatt:begrepsreferanse="https://begrepskatalog/begrep/38e2a35a-4758-11e6-b166-8e8050d1fd96" type="Beloep">
                <xsd:annotation>
                    <xsd:documentation>grunnlag for merverdiavgift tilsvarende valgt mva-kode, typisk omsetning.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="sats" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/46abe1e1-cf00-11e9-b304-005056821322" type="Sats">
                <xsd:annotation>
                    <xsd:documentation>Prosentsatsen som er benyttet for merverdiavgiftsberegning</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="merverdiavgift" skatt:begrepsreferanse="https://begrepskatalog/begrep/38e2a356-4758-11e6-b166-8e8050d1fd96" type="Beloep">
                <xsd:annotation>
                    <xsd:documentation>Bokført beløp for merverdiavgift</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="merknad" skatt:begrepsreferanse="http://begrepskatalog/begrep/df81b86e-3474-11e6-af6b-9614a8212dd3" type="Merknad">
                <xsd:annotation>
                    <xsd:documentation>merknad på detaljsnivå: har en kan velge mellom en predefinert liste av merknader eller fylle ut fritekst.  
Brukes til å forklare verdiene lagt inn MvaSpesifikasjonslinje</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SkattegrunnlagOgBeregnetSkatt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6b41c6c4-50cd-11e7-b7c5-005056821322; https://data.skatteetaten.no/begrep/649cbcd4-ad07-11e8-8ffd-005056821322">
        <xsd:annotation>
            <xsd:documentation>Skattegrunnlag: Opplysninger om den skattepliktige, den skattepliktiges økonomi (inntekt/fradrag/formue/gjeld), innførsel, omsetning og uttak og den skattepliktiges produksjon og varehåndtering, klassifisert, verdisatt og korrekt periodisert. Den skattepliktige skal kunne observere skattegrunnlaget i sine omgivelser.
Beregnet skatt: det beløpet som fremkommer etter at skattesatser er anvendt på beregningsgrunnlaget</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="skattleggingsperiode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6b41c6d1-50cd-11e7-b7c5-005056821322" type="Skattleggingsperiode">
                <xsd:annotation>
                    <xsd:documentation>perioden som en gitt skattefastsetting gjelder for;  alternativt begrep: termin.
</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fastsattMerverdiavgift" skatt:begrepsreferanse="http://begrepskatalog/begrep/2a88aa6c-d8d6-11e7-ae2b-005056821322" type="Beloep">
                <xsd:annotation>
                    <xsd:documentation>sum fastsatt merverdiavgift for perioden</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mvaSpesifikasjonslinje" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/b29bf6f0-145a-11eb-8086-0050568351d2" type="MvaSpesifikasjonslinje">
                <xsd:annotation>
                    <xsd:documentation>dokumentasjon av anvendelsen av mva-reglene</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Skattepliktig" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6b41c6ce-50cd-11e7-b7c5-005056821322">
        <xsd:annotation>
            <xsd:documentation>fysisk eller juridisk person som skal svare eller få kompensert skatt</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a8-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnummer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Meldingskategori">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="alminnelig"/>
            <xsd:enumeration value="primaernaering"/>
            <xsd:enumeration value="merverdiavgift kompensasjon"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Merknad">
        <xsd:sequence>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element name="beskrivelse" type="Tekst">
                        <xsd:annotation>
                            <xsd:documentation>fritekst merknad; velges å fylle ut når det finnes ikke noe godt egnet verdi i strukturert merknad liste</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="utvalgtMerknad" type="UtvalgtMerknad">
                        <xsd:annotation>
                            <xsd:documentation>merknad valgt ut fra strukturert liste av merknader</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Tekst" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af3-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>vilkårlig lang sekvens av tegn inkludert aksenter og spesielle tegn fra standardiserte tegnsett 
</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Kildesystem">
        <xsd:sequence>
            <xsd:element name="systemnavn" type="Tekst"/>
            <xsd:element minOccurs="0" name="systemversjon" type="Tekst"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="MvaKode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep//9b38dfa0-145a-11eb-8086-0050568351d2" skatt:eksternKodeliste="http://kodelistekatalog/kodeliste/merverdiavgift/mvaKodeSAFT">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="MvaSpesifikasjon" skatt:eksternKodeliste="http://kodelistekatalog/kodeliste/merverdiavgift/mvaSpesifikasjon">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="Desimaltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aef-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>tall som er satt sammen av en heltallsdel og en fraksjondel [wikipedia] </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal"/>
    </xsd:simpleType>
    <xsd:simpleType name="Beloep" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>en sum av penger brukt i en kontekst. Dette kan være en transaksjon, saldo o.l. </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Desimaltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="Sats" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/46abe1e1-cf00-11e9-b304-005056821322" skatt:eksternKodeliste="http://kodelistekatalog/kodeliste/merverdiavgift/sats">
        <xsd:annotation>
            <xsd:documentation>Prosentsatsen som er brukt for merverdiavgiftsberegning</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="Skattleggingsperiode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6b41c6d1-50cd-11e7-b7c5-005056821322&#10;http://begrepskatalog/begrep/bcb34830-81b1-11e7-9c4a-0050568351d2">
        <xsd:annotation>
            <xsd:documentation>skattleggingsperiode er et fellesbegrep som brukes om alle former for skatt, og refererer generelt til den perioden som en gitt skattefastsetting gjelder for; i merverdiavgift kontekst er ofte brukt begrepet termin</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="periode" type="PeriodeBeskrivelse">
                <xsd:annotation>
                    <xsd:documentation>termin</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aar" type="Aarstall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a8-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>9 sifret nummer gitt de som er registrert i Enhetsregisteret. </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst">
            <xsd:pattern value="[0-9]+"/>
            <xsd:length value="9"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="UtvalgtMerknad" skatt:eksternKodeliste="http://kodelistekatalog/kodeliste/merverdiavgift/merknad">
        <xsd:annotation>
            <xsd:documentation>strukturert liste av merknader</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="PeriodeBeskrivelse">
        <xsd:sequence>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element name="skattleggingsperiodeMaaned" type="SkattleggingsperiodeMaaned"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="skattleggingsperiodeSeksMaaneder" type="SkattleggingsperiodeSeksMaaneder"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="skattleggingsperiodeToMaaneder" type="SkattleggingsperiodeToMaaneder"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="skattleggingsperiodeHalvMaaned" type="SkattleggingsperiodeHalvMaaned"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="skattleggingsperiodeTreMaaneder" type="SkattleggingsperiodeTreMaaneder"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="skattleggingsperiodeUke" type="SkattleggingsperiodeUke"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="skattleggingsperiodeAar" type="SkattleggingsperiodeAar"/>
                </xsd:sequence>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Aarstall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e14a-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>årstall er et tall som angir årets nummer i tidsregningen i den gregorianske kalender</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:gYear"/>
    </xsd:simpleType>
    <xsd:simpleType name="SkattleggingsperiodeMaaned">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="januar"/>
            <xsd:enumeration value="februar"/>
            <xsd:enumeration value="mars"/>
            <xsd:enumeration value="april"/>
            <xsd:enumeration value="mai"/>
            <xsd:enumeration value="juni"/>
            <xsd:enumeration value="juli"/>
            <xsd:enumeration value="august"/>
            <xsd:enumeration value="september"/>
            <xsd:enumeration value="oktober"/>
            <xsd:enumeration value="november"/>
            <xsd:enumeration value="desember"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SkattleggingsperiodeSeksMaaneder">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="januar-juni"/>
            <xsd:enumeration value="juli-desember"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SkattleggingsperiodeToMaaneder">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="januar-februar"/>
            <xsd:enumeration value="mars-april"/>
            <xsd:enumeration value="mai-juni"/>
            <xsd:enumeration value="juli-august"/>
            <xsd:enumeration value="september-oktober"/>
            <xsd:enumeration value="november-desember"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SkattleggingsperiodeHalvMaaned">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="foerste halvdel januar"/>
            <xsd:enumeration value="andre halvdel januar"/>
            <xsd:enumeration value="foerste halvdel februar"/>
            <xsd:enumeration value="andre halvdel februar"/>
            <xsd:enumeration value="foerste halvdel mars"/>
            <xsd:enumeration value="andre halvdel mars"/>
            <xsd:enumeration value="foerste halvdel april"/>
            <xsd:enumeration value="andre halvdel april"/>
            <xsd:enumeration value="foerste halvdel mai"/>
            <xsd:enumeration value="andre halvdel mai"/>
            <xsd:enumeration value="foerste halvdel juni"/>
            <xsd:enumeration value="andre halvdel juni"/>
            <xsd:enumeration value="foerste halvdel juli"/>
            <xsd:enumeration value="andre halvdel juli"/>
            <xsd:enumeration value="foerste halvdel august"/>
            <xsd:enumeration value="andre halvdel august"/>
            <xsd:enumeration value="foerste halvdel september"/>
            <xsd:enumeration value="andre halvdel september"/>
            <xsd:enumeration value="foerste halvdel oktober"/>
            <xsd:enumeration value="andre halvdel oktober"/>
            <xsd:enumeration value="foerste halvdel november"/>
            <xsd:enumeration value="andre halvdel november"/>
            <xsd:enumeration value="foerste halvdel desember"/>
            <xsd:enumeration value="andre halvdel desember"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SkattleggingsperiodeTreMaaneder">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="januar-mars"/>
            <xsd:enumeration value="april-juni"/>
            <xsd:enumeration value="juli-september"/>
            <xsd:enumeration value="oktober-desember"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SkattleggingsperiodeUke">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="uke 1"/>
            <xsd:enumeration value="uke 2"/>
            <xsd:enumeration value="uke 3"/>
            <xsd:enumeration value="uke 4"/>
            <xsd:enumeration value="uke 5"/>
            <xsd:enumeration value="uke 6"/>
            <xsd:enumeration value="uke 7"/>
            <xsd:enumeration value="uke 8"/>
            <xsd:enumeration value="uke 9"/>
            <xsd:enumeration value="uke 10"/>
            <xsd:enumeration value="uke 11"/>
            <xsd:enumeration value="uke 12"/>
            <xsd:enumeration value="uke 13"/>
            <xsd:enumeration value="uke 14"/>
            <xsd:enumeration value="uke 15"/>
            <xsd:enumeration value="uke 16"/>
            <xsd:enumeration value="uke 17"/>
            <xsd:enumeration value="uke 18"/>
            <xsd:enumeration value="uke 19"/>
            <xsd:enumeration value="uke 20"/>
            <xsd:enumeration value="uke 21"/>
            <xsd:enumeration value="uke 22"/>
            <xsd:enumeration value="uke 23"/>
            <xsd:enumeration value="uke 24"/>
            <xsd:enumeration value="uke 25"/>
            <xsd:enumeration value="uke 26"/>
            <xsd:enumeration value="uke 27"/>
            <xsd:enumeration value="uke 28"/>
            <xsd:enumeration value="uke 29"/>
            <xsd:enumeration value="uke 30"/>
            <xsd:enumeration value="uke 31"/>
            <xsd:enumeration value="uke 32"/>
            <xsd:enumeration value="uke 33"/>
            <xsd:enumeration value="uke 34"/>
            <xsd:enumeration value="uke 35"/>
            <xsd:enumeration value="uke 36"/>
            <xsd:enumeration value="uke 37"/>
            <xsd:enumeration value="uke 38"/>
            <xsd:enumeration value="uke 39"/>
            <xsd:enumeration value="uke 40"/>
            <xsd:enumeration value="uke 41"/>
            <xsd:enumeration value="uke 42"/>
            <xsd:enumeration value="uke 43"/>
            <xsd:enumeration value="uke 44"/>
            <xsd:enumeration value="uke 45"/>
            <xsd:enumeration value="uke 46"/>
            <xsd:enumeration value="uke 47"/>
            <xsd:enumeration value="uke 48"/>
            <xsd:enumeration value="uke 49"/>
            <xsd:enumeration value="uke 50"/>
            <xsd:enumeration value="uke 51"/>
            <xsd:enumeration value="uke 52"/>
            <xsd:enumeration value="uke 53"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SkattleggingsperiodeAar">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="aarlig"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
