docs/informasjonsmodell_filer/xsd/no.skatteetaen.fastsetting.avgift.mva.mvaMeldingInnsendingStatus.v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="no:skatteetaten:fastsetting:avgift:mva:mvaMeldingInnsendingStatus:v1" xmlns:skatt="http://www.skatteetaten.no/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="no:skatteetaten:fastsetting:avgift:mva:mvaMeldingInnsendingStatus:v1">
    <xsd:annotation>
        <xsd:documentation>
            <xsd:attribute fixed="2022-09-16T15:34:56.188+0200" name="generertDato"/>
            <xsd:attribute fixed="1.0" name="versjon"/>
            <xsd:attribute fixed="" name="beskrivelse"/>
            <xsd:attribute fixed="no.skatteetaten.fastsetting.avgift.mva.mvameldingInnsendingStatus" name="modellnavn"/>
            <xsd:attribute fixed="no:skatteetaten:fastsetting:avgift:mva:mvaMeldingInnsendingStatus:v1" name="navnerom"/>
            <xsd:attribute fixed="true" name="begrepsreferanse"/>
            <xsd:attribute fixed="true" name="dokumentasjon"/>
            <xsd:attribute fixed="false" name="nillable"/>
            <xsd:attribute fixed="false" name="modellelement"/>
            <xsd:attribute fixed="false" name="norskeTegn"/>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:element name="mvaMeldingInnsendingStatus" type="MvaMeldingInnsendingStatus"/>
    <xsd:complexType name="MvaMeldingInnsendingStatus">
        <xsd:annotation>
            <xsd:documentation>liste med terminer som skattepliktig har ikke levert mva-melding for</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="skattepliktig" type="Skattepliktig"/>
            <xsd:element maxOccurs="unbounded" name="   terminUtenLevertMvaMelding" type="TerminUtenLevertMvaMelding">
                <xsd:annotation>
                    <xsd:documentation>termin/skattleggingsperiode som skattepliktig har ikke levert mv-melding for.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="harTidligereSendtMvaMelding" type="Boolsk">
                <xsd:annotation>
                    <xsd:documentation>viser hvis skattepliktig har sendt mva-meldinger før (eller er det første gang må leveres).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Skattepliktig">
        <xsd:annotation>
            <xsd:documentation>i denne kontekst meldingspliktig (skattepliktig som har medingleveringsplikt)</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="organisasjonsnummer" type="Organisasjonsnummer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TerminUtenLevertMvaMelding">
        <xsd:sequence>
            <xsd:element name="meldingskategori" type="Meldingskategori">
                <xsd:annotation>
                    <xsd:documentation>alminnelig eller primærnæring </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="skattleggingsperiode" type="Skattleggingsperiode">
                <xsd:annotation>
                    <xsd:documentation>skattleggingsperiode(termin) for merverdiavgift representert av periodebeksrivelse (eg. mai-juni) og år(eg. 2020)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="skattleggingsperiodeType" type="SkattleggingsperiodeType">
                <xsd:annotation>
                    <xsd:documentation>skattleggingsperiodetype / termintype: lengde av skattleggingsperioden etablert av plikt (2-måned, årlig osv.)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="leveringsfrist" type="Dato">
                <xsd:annotation>
                    <xsd:documentation>frist for levering av mva-melding for den gitt termin/skattleggingsperiode.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PeriodeMedForfallsdato">
        <xsd:sequence>
            <xsd:element name="periode" type="Periode"/>
            <xsd:element name="forfallsdato" type="Dato"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Boolsk" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aec-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>angir verdien sann eller usann</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    <xsd:simpleType name="Tekst" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af3-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>vilkårlig lang sekvens av tegn inkludert aksenter og spesielle tegn fra standardiserte tegnsett</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a8-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>9 sifret nummer gitt de som er registrert i Enhetsregisteret.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst">
            <xsd:pattern value="[0-9]+"/>
            <xsd:length value="9"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Meldingskategori">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="alminnelig"/>
            <xsd:enumeration value="primaernaering"/>
            <xsd:enumeration value="merverdiavgift kompensasjon"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Skattleggingsperiode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6b41c6d1-50cd-11e7-b7c5-005056821322&#10;http://begrepskatalog/begrep/bcb34830-81b1-11e7-9c4a-0050568351d2">
        <xsd:annotation>
            <xsd:documentation>skattleggingsperiode er et fellesbegrep som brukes om alle former for skatt, og refererer generelt til den perioden som en gitt skattefastsetting gjelder for; i merverdiavgift kontekst er ofte brukt begrepet termin</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="periode" type="SkattleggingsperiodeMerverdiavgift">
                <xsd:annotation>
                    <xsd:documentation>termin</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="aar" type="Aarstall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="SkattleggingsperiodeType">
        <xsd:annotation>
            <xsd:documentation>frekvens for levering av mva-melding; kan være årlig, 2-måned m.m.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="aar"/>
            <xsd:enumeration value="seksMaaned"/>
            <xsd:enumeration value="treMaaned"/>
            <xsd:enumeration value="toMaaned"/>
            <xsd:enumeration value="maaned"/>
            <xsd:enumeration value="halvMaaned"/>
            <xsd:enumeration value="uke"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Dato" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aed-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>gir verdier for år, måned og dag. Kodes som en tekststreng etter datoformatering spesifisert i  ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times). 
Eksempel : 1998-12-21 eller 19981221.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
    <xsd:complexType name="Periode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52b6d-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>tiden mellom to tidspunkter</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="start" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52b6f-9fe1-11e5-a9f8-e4115b280940" type="DatoKlokkeslett">
                <xsd:annotation>
                    <xsd:documentation>Første tidspunkt i perioden. Tidspunktet er med i perioden.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="slutt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52b6e-9fe1-11e5-a9f8-e4115b280940" type="DatoKlokkeslett">
                <xsd:annotation>
                    <xsd:documentation>Sluttidspunktet for perioden. Er ikke med i selve perioden.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="SkattleggingsperiodeMerverdiavgift" skatt:eksternKodeliste="http://kodelistekatalog/kodeliste/merverdiavgift/skattleggingsperiodeMerverdiavgift">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="Aarstall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e14a-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>årstall er et tall som angir årets nummer i tidsregningen i den gregorianske kalender</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:gYear"/>
    </xsd:simpleType>
    <xsd:simpleType name="DatoKlokkeslett" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aee-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>en kombinasjon av typene Dato og Klokkeslett. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times).</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>
</xsd:schema>
